@model TravelGuide.Areas.Blog.ViewModels.StoryDetailsViewModel

@using (Ajax.BeginForm("LikeStory", "Stories", new { Area = "Blog", storyId = Model.Id },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "like-btn-panel",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "POST",
                     OnSuccess = "storyLiked"
                 }))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success btn-black btn-like-image"><span class="glyphicon glyphicon-thumbs-up"></span> Like (@Model.Likes.Count())</button>
}

