@model TravelGuide.Areas.Blog.ViewModels.GalleryItemViewModel

@using (Ajax.BeginForm("ToggleLike", new { imageId = Model.Id },
     new AjaxOptions()
     {
         UpdateTargetId = Model.Id.ToString() + Model.Id.ToString() + Model.Id.ToString(),
         InsertionMode = InsertionMode.Replace,
         HttpMethod = "POST",
         OnSuccess = "submitVote"
     }))
{
    <button type="submit" class="btn btn-success black white-text btn-like-image"><span class="glyphicon glyphicon-thumbs-up"></span> Like (@Model.LikesCount)</button>
}
