@model TravelGuide.Models.Store.StoreItem

@if (Model.InStock)
{
    <p>In Stock</p>
    <div class="row">
        @using (Html.BeginForm())
                {
            <div class="col-md-4 buy-details input-field">
                @Html.Label("Quantity", new { @for = "quantity" })
                @Html.TextBox("quantity", 1, new { type = "number", @class = "text-center", min = 1, max = 10 })
            </div>
            <div class="col-md-8">
                <input type="submit" value="Add to Cart" class="btn btn-success btn-add-cart" />
            </div>
        }
    </div>
}
else
{
    <p>Depleted</p>
}