<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr class="table-header-admin">
            <th>Item</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Order Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%#: Item.StoreItem.ItemName %></td>
            <td><%#: Item.FirstName %></td>
            <td><%#: Item.LastName %></td>
            <td><%#: Item.Phone %></td>
            <td><%#: Item.Address %></td>
            <td><%#: Item.Status %></td>
            <td class="text-center">
                <asp:Button Text="Conifrm order" CommandName="Update" CssClass="btn btn-success btn-sm" ID="BtnChangeStatus" runat="server" />
            </td>
        </tr>
    </tbody>
</table>